.navbar-nav li:hover{
    background-color:maroon;
    border-radius: 10px;
    border: 2px solid lightblue;
}
.zoomable:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
    cursor: pointer;
}